<div class="header">
	<p class="header-footer">
~$ <strong>unary-heap-blog</strong> read-post</p>
	<div class="header-footer-dashed-line">----------------------------------------------------------------------------------------------------</div>
	<table class="header-footer">
		<tr><td>post&nbsp;title:&nbsp;</td><td><strong>{{ page.title }}</strong></td></tr>
		<tr><td>post&nbsp;date:&nbsp;&nbsp;</td><td>{{ page.date }}</td></tr>
		<tr><td>prev&nbsp;post:&nbsp;&nbsp;</td>
		{% if page.previous %}
		<td><a href="{{ page.previous.url | prepend: site.github.url }}">{{ page.previous.title }}</a></td>
		{% else %}
		<td>&lt;NONE&gt;</td>
		{% endif %}		
		</tr>
		<tr><td>next&nbsp;post:&nbsp;&nbsp;</td>
		{% if page.next %}
		<td><a href="{{ page.next.url | prepend: site.github.url }}">{{ page.next.title }}</a></td>
		{% else %}
		<td>&lt;NONE&gt;</td>
		{% endif %}
		</tr>
	</table>
	<div class="header-footer-dashed-line">----------------------------------------------------------------------------------------------------</div>
</div>
